################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Builds/VisualStudio2015/PtxCreator.VC.db
/Builds/VisualStudio2015/PtxCreator.VC.VC.opendb
/Builds/VisualStudio2015/.vs/PtxCreator/v14
/Builds/VisualStudio2015/x64/Debug
/Builds/VisualStudio2015/x64/Release
